# IDE
.vs/
.idea/
*.user
*.suo
*.dbmdl

# Backend Build
[Bb]in/
[Oo]bj/
*.log

# Frontend & Node.js
node_modules/
dist/
dist-ssr/
*.local

# npm / yarn / pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac / OS X
.DS_Store

# Agents
AGENT.md